
/* main container */
.outer-container{
    margin:20px;
    border:1px solid red;
}

.inner-container{
    min-height:100vh;
    padding:3rem;
    border:1px solid green;
}


/* nav box */
nav{
    display:flex;
    flex-direction: column;
    align-items:center;
}

.nav-buttons{
    display:flex;
    flex-direction:row;
}

footer{
    max-width:50vw;
}


/* browse */

/* browse page art container */
.art-container{
    display:flex;
    max-width:fit-content;
    border: 1px solid black;
    background-color: white;
    border-radius: 10px;
    padding:0.75rem;
    cursor: pointer;
}

/* pill button hover effect */
.art-container:hover {
    outline-offset: -2px;
    background: blue;
    color:white;
}

.fave-artwork:hover {
    background: #FF5C00;
}

.img-container {
    width: 300px; 
    height: 200px; 
    overflow: hidden; 
}

.img-container img{
    width: 100%; 
    height: 100%; 
    object-fit: cover; 
    border-radius: 10px;
}

/* details page image */
.details-img-box {
    width: 70vw;
    height: auto; 
    overflow: hidden; 
}

.details-img{
    width: 100%;
    height: 100%; 
    object-fit: cover; 
    border-radius: 10px;
}


/* general use */
.h-box{
    display:flex;
    flex:1;
    flex-direction:row;
    gap:0.25rem;
    border: 1px red solid;
}

.v-box{
    display:flex;
    flex:1;
    flex-direction:column;
    gap:0.25rem;
    border: 1px pink solid;
}

.m-bottom{
    margin-bottom: 2rem;
}


.button-box {
    display: flex;
    flex-direction: column; 
    /* gap: 0.5rem;  */
    border: 1px solid blue; 
    align-items: flex-end; 
    justify-content: space-between;
}

.artwork-box{
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem; 
    border: 1px solid orange; 
    align-items: flex-start; 
    /* justify-content: space-between; */
}

.flex-1{
    flex:1;
}

.flex-2{
    flex:2;
}

.flex-3{
    flex:3;
}
